<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.nabdullaualberta.buzzergame" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SingleUserMode"
            android:label="@string/title_activity_single_user_mode"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.nabdullaualberta.buzzergame.MainActivity" />
        </activity>
        <activity
            android:name=".Stats"
            android:label="@string/title_activity_stats"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.nabdullaualberta.buzzergame.MainActivity" />
        </activity>
        <activity
            android:name=".MultiPlayerMode"
            android:label="@string/title_activity_multi_player_mode"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.nabdullaualberta.buzzergame.MainActivity" />
        </activity>
        <activity
            android:name=".TwoPlayerMode"
            android:label="@string/title_activity_two_player_mode"
            android:parentActivityName=".MultiPlayerMode" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.nabdullaualberta.buzzergame.MultiPlayerMode" />
        </activity>
        <activity
            android:name=".ThreePlayerMode"
            android:label="@string/title_activity_three_player_mode"
            android:parentActivityName=".MultiPlayerMode" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.nabdullaualberta.buzzergame.MultiPlayerMode" />
        </activity>
        <activity
            android:name=".FourPlayerMode"
            android:label="@string/title_activity_four_player_mode"
            android:parentActivityName=".MultiPlayerMode" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.nabdullaualberta.buzzergame.MultiPlayerMode" />
        </activity>
    </application>

</manifest>
